.lista {
  list-style: none; }

.sps--abv {
  background-color: transparent;
  color: #000; }

.sps--blw {
  background-color: #000; }

h1 {
  color: white; }

.header-navegacion {
  display: flex;
  flex-basis: 100%;
  justify-content: space-evenly;
  font-weight: bold; }

.nav-link:hover {
  background-color: #85929E;
  border-radius: 4px; }

.banner {
  height: 100vh;
  position: absolute;
  top: 50%; }

@media (max-width: 860px) {
  .banner {
    height: 60px;
    top: 8rem; }
  .sps--abv {
    background-color: black;
    color: #000; } }

a {
  text-decoration: none;
  color: #566573; }

.imagen {
  width: 100%;
  overflow: hidden; }

.body {
  background-color: #F4F6F6; }

.casa {
  width: 430px;
  background-color: #e4e1e1;
  color: #2E4053;
  margin: 0 auto; }

.casas {
  border-radius: 5px;
  width: 100%;
  margin-left: 1px; }

.casas_anuncios {
  padding: 15rem; }

@media (min-width: 1600px) {
  .casa {
    width: 550px; } }

.precio {
  color: #515A5A; }

.iconos {
  height: 30px; }

.iconos_anuncio {
  height: 25px; }

.precio_anuncio {
  height: 50px;
  color: #239B56; }

.blog_titulos {
  text-decoration: none; }
  .blog_titulos:hover {
    color: #2E4053; }

.imagen-blog {
  width: 300px;
  width: 100%;
  border-radius: 0.25rem; }

.contacto {
  background-image: url(../img/encuentra.jpg);
  height: 300px; }

.imagen_banner {
  filter: brightness(50%); }

input:not([type="submit"]),
textarea,
select {
  padding: 1rem;
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  border: none;
  border-radius: 1rem; }

.form_contacto {
  width: 90%;
  margin: -5rem auto 2rem auto;
  padding: 4rem;
  border-radius: 1rem;
  background-color: #ECF0F1; }

.form_contacto-titulo {
  margin-top: -2rem; }

.boton_contacto {
  width: 20%; }

@media (max-width: 860px) {
  .boton_contacto {
    width: 100%; } }

/*UTILIDADES*/
.imagen_banner {
  width: 100%;
  overflow: hidden;
  filter: brightness(50%); }

.titulo {
  color: #000; }

.descripcion {
  color: #7F8C8D; }

.frase {
  color: #2E4053; }
